body {
  background-image: url(../images/aboutBackground.JPG);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
p {
  font-family: 'Cabin', sans-serif;
}
.jumbotron {
  background-color: rgba(147, 138, 139, 0.5) !important;
  text-align: right;
}
.jumbotron p {
  text-align: right;
}
.container h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  text-align: center;
  color: rgba(234, 169, 175, 1);
}
#section1 h1, p {
  color: white;
  text-align: center;
}
#section1 h1 {
  color: rgba(234, 169, 175, 1);
}
#section1 h3{
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: rgba(194, 194, 194, 1);
  text-shadow: 2px 4px rgba(56, 56, 56, 0.71);
}
#section1 .col-md-4 p {
  font-family: 'Lora', serif;
}
#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 80px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}


.showing {
    opacity: 1;
    z-index: 2;
}
/* CONTENT 1*/
#section2 .row {
  background-color: rgba(0,0,0,0.24);
  border: 3px solid grey;
  margin: 150px;
  padding: 100px;
  text-align: center;
}
#section2 h2 {
  color: rgba(194, 194, 194, 1);
  font-family: 'Poiret One', cursive;
}
.col-sm-4 img {
  width: 300px;
  height: 250px;
  border-radius: 10%;
}
.container h2 {
  text-align: center;
  font-size: 50px;
}
.overlay1 {
  border-radius: 10%;
  position: absolute;
  bottom: 100%;
  left: 15px;
  right: 0;
  background-color: #008CBA;
  opacity: 0.7;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}
.overlay2 {
  border-radius: 10%;
  position: absolute;
  bottom: 100%;
  left: 15px;
  right: 0;
  background-color: #008CBA;
  opacity: 0.7;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}
.overlay3 {
  border-radius: 10%;
  position: absolute;
  bottom: 100%;
  left: 15px;
  right: 0;
  background-color: #008CBA;
  opacity: 0.7;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}


.image1:hover .overlay1 {
  bottom: 0;
  height: 100%;
}
.image2:hover .overlay2 {
  bottom: 0;
  height: 100%;
}
.image3:hover .overlay3 {
  bottom: 0;
  height: 100%;
}

.text {
  opacity: 1;
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.content2 {
  background-color: rgba(0,0,0,0.24);
  border: 3px solid grey;
  padding: 50px;
  margin: 200px;
  text-align: center;
}
#education {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
}

#education td, #education th {
    border: 1px solid #ddd;
    padding: 40px;
}

#education tr:nth-child(even) {
  background-color: rgba(147, 138, 139, 0.5);
}
#education tr:nth-child(odd) {
  background-color: rgba(147, 138, 139, 0.5);
}

#education tr:hover {
  background-color: #ddd;
}

#education th {
    padding: 40px 40px;
    text-align: left;
    background-color: rgba(147, 138, 139, 0.8);
    color: white;
}
.content3 {
  background-color: rgba(0,0,0,0.24);
  border: 3px solid grey;
  padding: 50px;
  margin: 200px;
  text-align: center;
}
.content3 h2 {
  color: rgba(194, 194, 194, 1);
  font-family: 'Poiret One', cursive;
}
/* CODE PEN IMAGE SLIDER*/
@-webkit-keyframes spin {
  from {-webkit-transform:rotateY(0); }
  to {-webkit-transform:rotateY(-360deg);}
}

.wrapper {
  margin:0px auto 0 auto;
  -webkit-perspective:800;
  -webkit-perspective-origin:50% 90px;
  -webkit-transition: -webkit-perspective, 5s;
}

.shape {
  margin:150px auto;
  height:200px;
  width:200px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 15s infinite linear;

 }

.wrapper:hover {
-webkit-perspective-origin: 50% -100px;
}

.plane {
  position:absolute;
  width:200px;
  height:200px;
}

.plane:hover p {
display:inline;
}

.p1 {
  background-image: url("../images/Snapshot_17.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotateY(90deg) translateZ(200px);
  width: 180%;
  }
.p2 {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  background-image: url("../images/Snapshot_19.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 180%;
}

.p3 {
  background-image: url("../images/Snapshot_40.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotateY(270deg) translateZ(200px);
  width: 180%;
}

.p4 {
  background-image: url("../images/Snapshot_44.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotateY(360deg) translateZ(200px);
  width: 180%;
}
#codingChannel h1, #codingChannel h3, #codingChannel p {
  text-align: center;
  color: pink;
}
#codingChannel  h1 {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.65);
}
#codingChannel p {
  font-size: 20px;
  color: white;
}
/* END OF IMAGE SLIDER*/
.content4 {
  background-color: rgba(0,0,0,0.24);
  border: 3px solid grey;
  padding: 50px;
  margin: 200px;
  text-align: center;
}
.content4 h2 {
  color: rgba(194, 194, 194, 1);
  font-family: 'Poiret One', cursive;
}
.content5 {
  background-color: rgba(0,0,0,0.24);
  border: 3px solid grey;
  padding: 50px;
  margin: 200px;
  text-align: center;
}
.content5 h2 {
  color: rgba(194, 194, 194, 1);
  font-family: 'Poiret One', cursive;
}

/* CSS FOR FOOTER - TAKEN FROM BOOTSTRAP TEMPLATE */
#myFooter {
    background-color: rgba(34, 7, 33, 1);
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-google-plus:hover {
    color: red;
}

#myFooter .fa-google-plus:focus {
    color: red;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
